---
import type { Bank } from '../types/bank';

interface Props {
	data: Bank[];
}

const { data } = Astro.props;

---

<table>
  <thead>
    <tr>
      <th scope="col">IFSC</th>
      <th scope="col"><span class="sr-only">Bank Logo</span></th>
      <th scope="col">Bank Name</th>
    </tr>
  </thead>
  <tbody>
    {data.map((row) => (
      <tr>
        <td>{row.ifsc}</td>
        <td>
          <img src={row.icon} alt={`${row.name} bank logo`} loading="lazy" width="24" height="24" />
        </td>
        <td>
          <a href={row.website} target="_blank" rel="noopener noreferrer" title={row.name}>{row.name}</a>
        </td>
      </tr>
    ))}
  </tbody>
</table>

<style>
</style>

